# Supabase URL and Anon / Publishable Key
VITE_SUPABASE_URL=https://agohzjfnjdsieyopyext.supabase.co
VITE_SUPABASE_ANON_KEY=your-anon-key-here
# Atau bisa menggunakan nama variabel VITE_SUPABASE_PUBLISHABLE_KEY
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_MMCZDcY3HwD9QYhyXmWKXQ_9Crhr_CD
